@media screen 
  and (device-width: 450px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .col-3{
        width: 450px;
        text-align: center;
        padding-left: 10px;
    }
    .row{
        text-align: center;margin: 15px 15px 15px 15px;
    }
}